<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.opisek.unteruns">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/compass"
        android:label="@string/app_name"
        android:roundIcon="@drawable/compass"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- MENU -->

        <activity
            android:name=".views.MenuActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".views.RoutesActivity"
            android:label="Routen"
            android:screenOrientation="portrait"
            android:parentActivityName=".views.MenuActivity">
        </activity>
        <activity
            android:name=".views.CreditsActivity"
            android:label="Credits"
            android:screenOrientation="portrait"
            android:parentActivityName=".views.MenuActivity">
        </activity>
        <activity
            android:name=".views.CheatMenuActivity"
            android:label="Cheat Menu"
            android:screenOrientation="portrait"
            android:parentActivityName=".views.MenuActivity">
        </activity>

        <!-- TRAVEL -->

        <activity
            android:name=".views.CompassActivity"
            android:screenOrientation="portrait"
            android:label="Kompass">
        </activity>
        <activity
            android:name=".views.QrActivity"
            android:screenOrientation="portrait"
            android:label="Qr Scanner">
        </activity>

        <!-- POSTCARDS -->

        <activity
            android:name=".views.PostcardsActivity"
            android:screenOrientation="portrait"
            android:label="Postkarten Rätsel">
        </activity>
        <activity
            android:name=".views.PostcardQuestionsActivity"
            android:label="Postkarten Rätsel"
            android:screenOrientation="portrait"
            android:parentActivityName=".views.PostcardsActivity">
        </activity>
        <activity
            android:name=".views.PostcardQuestionActivity"
            android:screenOrientation="portrait"
            android:label="Postkarten Rätsel"
            android:parentActivityName=".views.PostcardQuestionsActivity">
        </activity>

        <!-- INPUT -->

        <activity
            android:name=".views.InputQuestionActivity"
            android:screenOrientation="portrait"
            android:label="Rätsel Eingabefeld">
        </activity>

        <!-- VoteRiddle -->
        <activity
            android:name=".views.VoteRiddleActivity"
            android:screenOrientation="portrait"
            android:label="Imposter Wahl Rätsel">
        </activity>
        <activity
            android:name=".views.StoryReadActivity"
            android:screenOrientation="portrait"
            android:label="End Text">
        </activity>
        <activity
            android:name=".views.VoteResultActivity"
            android:screenOrientation="portrait"
            android:label="Imposter Wahl Ergebnisse">
        </activity>

    </application>

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.CAMERA"/>

</manifest>